@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(255, 241, 243);
  overflow-x: hidden;
}
button:disabled {
  opacity: 0.6;
}

button:disabled:hover {
  cursor: not-allowed;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
